.club-header {
    font-family: Arial;
    margin-left: 50px;
}

.club-table {
    background-color: #B5E48C;
    border-radius: 10px;
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
}

.club-item {
    margin: auto;
}

.club-button {
    font-family: Arial;
    background-color: #6A9B72;
    font-Size: 24px;
    width: 90%;
    border-Color: #B1DFAD;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.club-button-info {
    width: 100%;
    display: inline-flex;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
}

.club-button-info-item {
    display:inline;
    padding: 10px 20px;
}

.add-club-form {
    text-align: center;
}

.club-form {
    margin: auto;
}

.add-club-button {
    width: 20%;
    margin: auto;
}