.navbar-button {
    background-Color: #B1DFAD;
    height: 50px;
    font-Weight: bold;
    font-family: Arial;
    font-Size: 25px;
    color: black;
    border-Color: #B1DFAD;
    margin-Top: 10px;
  }